<!-- /inventory/management.ejs -->

<!-- Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/');
} %>

<%- messages() %> <!-- Flash messages -->

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<!-- Button to trigger add new classification process -->
<form class="mangebutton" action="/inv/add-classification" method="GET">
    <button type="submit">Add New Classification</button>
</form>

<!-- Button to trigger add new vehicle process -->
<form class="mangebutton" action="/inv/add-inventory" method="GET">
    <button type="submit">Add New Vehicle</button>
</form>

<h2>Manage Inventory</h2>
<p>Please choose a classification from the list to view the corresponding vehicles.</p>

<!-- Render the classification dropdown -->
<form action="/inv/add-inventory" method="POST">
    <label for="classificationList">Select Classification:</label>
    
    <!-- Insert the classification dropdown HTML -->
    <%- classificationSelect %>
</form>

<table id="inventoryDisplay"></table>

<!-- Displays message if script stops working -->
<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>